.addPayment {
    width: 55%;
    height: 100%;
    padding-top: 2rem;
    text-align: center;
    display: block;
    margin: auto;
    
    @include breakpoint-down(small) {
        width: 100%;
    }

    @include breakpoint-down(medium) {
        width:90%;
    }
    &__title {
        font-size: 1.5rem;
        span {
            color: coral;
        }
    }

    p {
        font-weight: 500;
        font-size: 1.5rem;
    }

    a {
        background-color: $bg-black-light;
        font-size: 1.5rem;
        color: white;
        padding: 1rem;
        border-radius: 5px;
        @include breakpoint-down(small) {
            display:block;
        }
    }
}