.table {
    width: 100%;    
    height: 100%;
    padding: 5rem;

    &__content {
        display: flex;
        justify-content: center;
        align-items: start;
        width: 100%;    
        height: 100%;        
    }
    
}