.table {
    width: 100%;    
    height: 100%;
    padding: 5rem;
    text-align: center;

    &__content {
        display: flex;
        // justify-content: center;
        // align-items: center;
        flex-direction: column;
        width: 100%;    
        height: 100%;        
    }
    
}

table {
    // border-spacing: 0;
    border: 1px solid black;    

    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th,
    td {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      
    }

    th{
        width: 100px;
        user-select: none;
    }
}

 .pagination {
    padding: 0.5rem;
 }

.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;   

    i {
        cursor: pointer;
        transition: 0.2s;
        &:hover {
            color: black;
        }
    }

    .checkIn {
        color: green;
    }

    .view {
        color: #187bcd;//linear-gradient(to right, cyan, blue);        
    }

    .pay {
        color: green;
    }

    .remove {
        color: $bg-red;
    }
}

.btn-payment {
    background: green;
    width: 168px;
    height: 31px;
    margin: auto;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
    &:hover {

        background: black;
    }
}

.status {
    border: 1px solid;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100px;
    margin: auto;
    padding: 0.1rem;

    &.active {        
        border-color: green;
        color: green        
    }

    &.expired {
        border-color: $bg-red;
        color: $bg-red;
    }

    &.pending {
        border-color: $bg-mustard;
        color: $bg-mustard;
    }
}