.sidebar {    
    // border-right: 1px black solid;
    height: auto;
    background-color: $bg-black;
    position: fixed;
    top: 55px;
    bottom: 0;

    .sidebar__menu {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 200px;
            text-align: center;
        }

        li {
            cursor: pointer;

            &:hover {
                background-color: coral;
            }
        }

        a {
            color: white;
            user-select: none;
            display: block;
            padding: 1rem;

            i {
                margin-right: 10px;
            }
        }
    }
}