//colors
$black: hsl(0, 0%, 0%);
$coral: hsl(16, 100%, 66%);

//background colors
$bg-black: #31333f;
$bg-black-light: hsl(245, 17%, 29%);
$bg-mustard: hsl(32, 65%, 48%);  
$bg-red: hsl(356, 75%, 48%);

// Font sizes
$font-sm: 0.875rem; //14px
$font-md: 1.125rem; //18px